﻿@using EPiServer.ServiceLocation
@using EPiServer.Web.Routing

@{
    var pageContext = ServiceLocator.Current.GetInstance<PageRouteHelper>();
    var currentPage = pageContext.IfNotNull(x => x.Page);

    ViewBag.PageName = currentPage.IfNotNull(x => x.PageName);
    ViewBag.Title = ViewBag.PageName;
}

<!DOCTYPE html>
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <div>
        <h1>@ViewBag.PageName</h1>
        
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
